.container {
/* background-color: hotpink; */
width: 900px;
}

.container h2{
  text-align: center;
}


.cards { 
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  }

.card img {
  width: 100px;
  padding: 10px;
}

.card {
 text-align: center;
 border: rgba(0, 0, 0, 0.2) solid 1px;
 border-radius: 2px;
 width: 200px;
 height: 250px;
 padding: 20px;
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card p{
  color: grey;
  line-height: 20px;
}